.vscode/**
.vscode-test/**
src/**
webview/src/**
scripts/**
test/**
**/*.spec.*
**/*.test.*
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
# keep built outputs
!out/**
!media/**
coverage/**
